; Port configuration
[port]
frame overhead = 0
number of subports per port = 1

; Subport configuration
[subport 0]
number of pipes per subport = 4096
queue sizes = 64 64 64 64 64 64 64 64 64 64 64 64 64

pipe 0 - 4095 = 0               ; These pipes are configured with pipe profile 0

[subport profile 0]
tb rate = 12500000000          ; OLT Layer
tb size = 1000000000          ; Bytes

tc 0 rate = 312500000         ; Pon Layer
tc 1 rate = 312500000         ; Pon Layer
tc 2 rate = 312500000         ; Pon Layer
tc 3 rate = 312500000         ; Pon Layer
tc 4 rate = 312500000         ; Pon Layer
tc 5 rate = 312500000         ; Pon Layer
tc 6 rate = 312500000         ; Pon Layer
tc 7 rate = 312500000         ; Pon Layer
tc 8 rate = 312500000         ; Pon Layer
tc 9 rate = 312500000         ; Pon Layer
tc 10 rate = 312500000        ; Pon Layer
tc 11 rate = 312500000        ; Pon Layer
tc 12 rate = 312500000        ; Pon Layer

; tc 0 rate = 12500000000         ; Pon Layer
; tc 1 rate = 12500000000         ; Pon Layer
; tc 2 rate = 12500000000         ; Pon Layer
; tc 3 rate = 12500000000         ; Pon Layer
; tc 4 rate = 12500000000         ; Pon Layer
; tc 5 rate = 12500000000         ; Pon Layer
; tc 6 rate = 12500000000         ; Pon Layer
; tc 7 rate = 12500000000         ; Pon Layer
; tc 8 rate = 12500000000         ; Pon Layer
; tc 9 rate = 12500000000         ; Pon Layer
; tc 10 rate = 12500000000        ; Pon Layer
; tc 11 rate = 12500000000        ; Pon Layer
; tc 12 rate = 12500000000        ; Pon Layer

tc period = 3                 ; Milliseconds

; Pipe configuration
[pipe profile 0]
tb rate = 62500000               ; Bytes per second
tb size = 10000                ; Bytes

tc 0 rate = 62500000             ; Bytes per second
tc 1 rate = 62500000             ; Bytes per second
tc 2 rate = 62500000             ; Bytes per second
tc 3 rate = 62500000             ; Bytes per second
tc 4 rate = 62500000             ; Bytes per second
tc 5 rate = 62500000             ; Bytes per second
tc 6 rate = 62500000             ; Bytes per second
tc 7 rate = 62500000             ; Bytes per second
tc 8 rate = 62500000             ; Bytes per second
tc 9 rate = 62500000             ; Bytes per second
tc 10 rate = 62500000            ; Bytes per second
tc 11 rate = 62500000            ; Bytes per second
tc 12 rate = 62500000            ; Bytes per second

tc period = 7                ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1
