; Port configuration
[port]
frame overhead = 24
number of subports per port = 2

subport 0 = 0
subport 1 = 1

; Subport configuration
[subport 0]
; number of pipes per subport = 65536
number of pipes per subport = 2
queue sizes = 64 64 64 64 64 64 64 64 64 64 64 64 64

pipe 0 - 1 = 0               ; These pipes are configured with pipe profile 0

[subport 1]
number of pipes per subport = 2
queue sizes = 64 64 64 64 64 64 64 64 64 64 64 64 64

pipe 0 - 1 = 0               ; These pipes are configured with pipe profile 0

[subport profile 0]
tb rate = 3125000000           ; Bytes per second
tb size = 1000000000              ; Bytes

tc 0 rate = 3125000000         ; Bytes per second
tc 1 rate = 3125000000         ; Bytes per second
tc 2 rate = 3125000000         ; Bytes per second
tc 3 rate = 3125000000         ; Bytes per second
tc 4 rate = 3125000000         ; Bytes per second
tc 5 rate = 3125000000         ; Bytes per second
tc 6 rate = 3125000000         ; Bytes per second
tc 7 rate = 3125000000         ; Bytes per second
tc 8 rate = 3125000000         ; Bytes per second
tc 9 rate = 3125000000         ; Bytes per second
tc 10 rate = 3125000000        ; Bytes per second
tc 11 rate = 3125000000        ; Bytes per second
tc 12 rate = 3125000000        ; Bytes per second

tc period = 10                 ; Milliseconds

; Pipe configuration
[pipe profile 0]
tb rate = 750000           ; Bytes per second
tb size = 10000             ; Bytes

tc 0 rate = 750000         ; Bytes per second
tc 1 rate = 750000         ; Bytes per second
tc 2 rate = 750000         ; Bytes per second
tc 3 rate = 750000         ; Bytes per second
tc 4 rate = 750000         ; Bytes per second
tc 5 rate = 750000         ; Bytes per second
tc 6 rate = 750000         ; Bytes per second
tc 7 rate = 750000         ; Bytes per second
tc 8 rate = 750000         ; Bytes per second
tc 9 rate = 750000         ; Bytes per second
tc 10 rate = 750000        ; Bytes per second
tc 11 rate = 750000        ; Bytes per second
tc 12 rate = 750000        ; Bytes per second

tc period = 20              ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1 
