; Port configuration
[port]
frame overhead = 24
number of subports per port = 1

subport 0 = 0

; Subport configuration
[subport 0]
number of pipes per subport = 65536
queue sizes = 64 64 64 64 64 64 64 64 64 64 64 64 64

pipe 0 - 512 = 0               ; These pipes are configured with pipe profile 0
pipe 513 - 1536 = 0               ; These pipes are configured with pipe profile 0
pipe 1537 - 3584 = 0               ; These pipes are configured with pipe profile 0
pipe 3585 - 65535 = 0               ; These pipes are configured with pipe profile 0

[subport profile 0]
tb rate = 3125000000           ; Bytes per second
tb size = 1500000000              ; Bytes

tc 0 rate = 3125000000         ; Bytes per second
tc 1 rate = 3125000000         ; Bytes per second
tc 2 rate = 3125000000         ; Bytes per second
tc 3 rate = 3125000000         ; Bytes per second
tc 4 rate = 3125000000         ; Bytes per second
tc 5 rate = 3125000000         ; Bytes per second
tc 6 rate = 3125000000         ; Bytes per second
tc 7 rate = 3125000000         ; Bytes per second
tc 8 rate = 3125000000         ; Bytes per second
tc 9 rate = 3125000000         ; Bytes per second
tc 10 rate = 3125000000        ; Bytes per second
tc 11 rate = 3125000000        ; Bytes per second
tc 12 rate = 3125000000        ; Bytes per second

tc period = 3                 ; Milliseconds

; Pipe configuration
[pipe profile 0]
tb rate = 750000           ; Bytes per second
tb size = 100000             ; Bytes

tc 0 rate = 750000         ; Bytes per second
tc 1 rate = 750000         ; Bytes per second
tc 2 rate = 750000         ; Bytes per second
tc 3 rate = 750000         ; Bytes per second
tc 4 rate = 750000         ; Bytes per second
tc 5 rate = 750000         ; Bytes per second
tc 6 rate = 750000         ; Bytes per second
tc 7 rate = 750000         ; Bytes per second
tc 8 rate = 750000         ; Bytes per second
tc 9 rate = 750000         ; Bytes per second
tc 10 rate = 750000        ; Bytes per second
tc 11 rate = 750000        ; Bytes per second
tc 12 rate = 750000        ; Bytes per second

tc period = 20              ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1 

[pipe profile 1]
tb rate = 6250000           ; Bytes per second
tb size = 100000             ; Bytes

tc 0 rate = 6250000         ; Bytes per second
tc 1 rate = 6250000         ; Bytes per second
tc 2 rate = 6250000         ; Bytes per second
tc 3 rate = 6250000         ; Bytes per second
tc 4 rate = 6250000         ; Bytes per second
tc 5 rate = 6250000         ; Bytes per second
tc 6 rate = 6250000         ; Bytes per second
tc 7 rate = 6250000         ; Bytes per second
tc 8 rate = 6250000         ; Bytes per second
tc 9 rate = 6250000         ; Bytes per second
tc 10 rate = 6250000        ; Bytes per second
tc 11 rate = 6250000        ; Bytes per second
tc 12 rate = 6250000        ; Bytes per second

tc period = 15              ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1 

[pipe profile 2]
tb rate = 31250000           ; Bytes per second
tb size = 10000000             ; Bytes

tc 0 rate = 31250000         ; Bytes per second
tc 1 rate = 31250000         ; Bytes per second
tc 2 rate = 31250000         ; Bytes per second
tc 3 rate = 31250000         ; Bytes per second
tc 4 rate = 31250000         ; Bytes per second
tc 5 rate = 31250000         ; Bytes per second
tc 6 rate = 31250000         ; Bytes per second
tc 7 rate = 31250000         ; Bytes per second
tc 8 rate = 31250000         ; Bytes per second
tc 9 rate = 31250000         ; Bytes per second
tc 10 rate = 31250000        ; Bytes per second
tc 11 rate = 31250000        ; Bytes per second
tc 12 rate = 31250000        ; Bytes per second

tc period = 15              ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1 

[pipe profile 3]
tb rate = 1250000000           ; Bytes per second
tb size = 100000000             ; Bytes

tc 0 rate = 125000000         ; Bytes per second
tc 1 rate = 125000000         ; Bytes per second
tc 2 rate = 125000000         ; Bytes per second
tc 3 rate = 125000000         ; Bytes per second
tc 4 rate = 125000000         ; Bytes per second
tc 5 rate = 125000000         ; Bytes per second
tc 6 rate = 125000000         ; Bytes per second
tc 7 rate = 125000000         ; Bytes per second
tc 8 rate = 125000000         ; Bytes per second
tc 9 rate = 125000000         ; Bytes per second
tc 10 rate = 125000000        ; Bytes per second
tc 11 rate = 125000000        ; Bytes per second
tc 12 rate = 125000000        ; Bytes per second

tc period = 5              ; Milliseconds

tc 12 oversubscription weight = 1

tc 12 wrr weights = 1 1 1 1 
